<div class="container" >
  {# Paragraphe intro #}
  <div class="divIntro">
    <h2 class="intro">
		Depuis un demi-siècle, Clean This définit l'excellence en nettoyage. Avec 50 ans d'expérience, notre savoir-faire inégalé garantit un service de qualité supérieure à chaque intervention. Faites confiance à notre héritage pour des résultats impeccables à chaque fois.
	</h2>
  </div>

  {# Card prestation #}
  
  <div class="cardList">
    {% for typeOperation in typesOperations %}
      <div class="flipContainer">
        <div class="flipper">
          <div class="flipperFront flip">
            <img src="https://th.bing.com/th/id/OIP.CmTZmPvJbpQq4Gvr44Fn9AHaEW?rs=1&pid=ImgDetMain" alt="Image de presentation de l'opération" />
            <div>
              <h4>{{ typeOperation.name }}</h4>
            </div>
          </div>
          <div class="flipperBack flip">
            <h4>{{ typeOperation.name }}</h4>
            <p>{{ typeOperation.description }}</p>
            <p>
              Prix :{% if typeOperation.prix == 0 %}
                Personnalisé
              {% else %}
                {{ typeOperation.prix }}
                €
              {% endif %}
            </p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  {# btn devis #}
  <div class="divIntro">
    <a class="btnDevis" href="{{ path('client')}}">DEMANDER VOTRE DEVIS</a>
  </div>
</div>
