{% extends "base.html.twig" %}
{% block title %}Demande d'opération
{% endblock %}
{% block body %}

	{% set titre = "Demande d'opération de nettoyage" %}
	{% include "base/blueBar.html.twig" %}
	{% include "base/flash.html.twig" %}

	<div class="formClient">
		<a href="{{path('client')}}" class="btnBack btn">Retour</a>
		{{form_start(form)}}
		<div>
			<div class="doubleChamp">
				{{ form_row(form.client.name, {'attr':{'placeholder':"Doe"}})}}
				{{ form_row(form.client.firstname, {'attr':{'placeholder':"John"}})}}

			</div>
			{{ form_row(form.client.mail,{'attr':{'placeholder':"john.doe@gmail.com"}})}}
		</div>

		<div>
			<p class="titleForm">Adesse :
			</p>
			<div class="doubleChamp">
				{{ form_row(form.adresse.number,{'attr':{'placeholder':"7"}})}}
				{{ form_row(form.adresse.street,{'attr':{'placeholder':"Rue de la gare"}})}}
			</div>
			<div class="doubleChamp">
				{{ form_row(form.adresse.city,{'attr':{'placeholder':"Lille"}})}}
				{{ form_row(form.adresse.county,{'attr':{'placeholder':"Nord"}})}}
			</div>
			{{ form_row(form.adresse.country,{'attr':{'placeholder':"France"}})}}
		</div>
		<div>
			<p class="titleForm">
				Votre demande :</p>
			{{ form_row(form.operation.type)}}
			{{ form_row(form.operation.dateForecast)}}
			{{ form_row(form.operation.description,{'attr':{'placeholder':"Description de votre demande..."}})}}
		</div>
	
		 {{form_end(form)}}
	</div> 
{% endblock %}
