{% block header %}

	<nav
		class="navbar">
		{# <div class="nav-container"> #}

		<a class="navbar-logo" href={{ path("home") }}>
			<img src="{{ asset('image/LOGO.png') }}" alt="Votre Logo">
		</a>
	

		<div class="navbar-item">

<h1>{{ 'welcome'|trans }}</h1>
<p>{{ 'goodbye'|trans }}</p>
			<div class="nav-item">
				<a class="nav-link" href={{ path("client") }}>
					<img src="{{ asset('image/image_devis.png') }}" alt="Devis">
					<p>Devis</p>
				</a>
			</div>
			<div class="nav-item">
				<a class="nav-link" href={{ path("app_operation") }}>
					<img src="{{ asset('image/image_operations.png') }}" alt="Opérations">
					<p>Opérations</p>
				</a>
			</div>
			<div class="nav-item">
				<a class="nav-link" href={{ path("app_contact") }}>
					<img src="{{ asset('image/image_aide.png') }}" alt="Aide">
					<p>Aide</p>
				</a>
			</div>
			<div class="nav-item">
			{# Élément de navigation pour Espace Salarié ou Déconnexion #}
				{% if app.user %}
					<a class="nav-link" href="{{ path('app_logout') }}">
						<p>Déconnexion</p>
					</a>
				{% else %}
					<a class="nav-link salarie" href="{{ path('app_login') }}">
				<img src="{{ asset('image/codicon_account.png') }}" alt="Aide">
						<p>Espace salarié</p>
					</a>
				{% endif %}

			</div>

		</nav>
	{% endblock %}
	{% block footer %}{% endblock %}
