{% block header %}

	<nav class="navbar">
	
		<div class="Logo-item">
			<a class="navbar-logo" href={{ path("home") }}>
				<img src="{{ asset('image/LOGO.png') }}" alt="Votre Logo">
			</a>
		</div>
	<div class='nav-itemEnveloppe'>
		<div class="navbar-item">
			<div class="nav-item">
				<a class="nav-link" href={{ path("home") }}>
					<img src="{{ asset('image/note-avis.png') }}" alt="Accueil">
					<p>Acceuil</p>
				</a>
			</div>
			<div class="nav-item">
				<a class="nav-link" href={{ path("client") }}>
					<img src="{{ asset('image/image_devis.png') }}" alt="Devis">
					<p>Devis</p>
				</a>
			</div>
			{% if app.user %}
			<div class="nav-item">
				<a class="nav-link" href={{ path("app_operation") }}>
					<img src="{{ asset('image/image_operations.png') }}" alt="Opérations">
					<p>Opérations</p>
				</a>
			</div>
			{% endif %}
			<div class="nav-item">
				<a class="nav-link" href={{ path("app_contact") }}>
					<img src="{{ asset('image/image_aide.png') }}" alt="Aide">
					<p>Aide</p>
				</a>
			</div>
		</div>

		<div
			class="nav-item1">
			{# Élément de navigation pour Espace Salarié ou Déconnexion #}
			{% if app.user %}
				<a class="nav-link" href="{{ path('app_logout') }}">
					<p>Déconnexion</p>
				</a>
			{% else %}
				<a class="nav-link salarie" href="{{ path('app_login') }}">
					<img class="imgnav-item" src="{{ asset('image/codicon_account.png') }}" alt="Aide">
					<p>Espace salarié</p>
				</a>
			{% endif %}

		</div>
	</div>
		<div class="drapeaux">
			<img src="{{ asset('image/france.png') }}" alt="france">
			<img src="{{ asset('image/royaume-uni.png') }}" alt="anglais">
		</div>
	</nav>
{% endblock %}
{% block footer %}{% endblock %}
