{% extends 'base.html.twig' %}

{% block body %}
    <div class="navbarOp"></div>
    
    <nav class="navbarE">
        <ul class="navE-links">
            <li><a href="#">Opérations</a></li>
            <li><a href="#">Ma Liste</a></li>
            <li><a href="#">Ajout Opération</a></li>
            <li><a href="#">Liste Personnel</a></li>
            <li><a href="#">Ajout Personnel</a></li>
            <li><a href="#">Statistique</a></li>
            <li><a href="#">Répertoire</a></li>
        </ul>
    </nav>
    
    <div class="contourOp">
        {% for operation in operations %}
            <div class="custom-block">
                <img src="{{ operation.imageUrl }}" alt="Image" width="7%">
                <div class="date">{{ operation.date }}</div>
                <div class="status">{{ operation.status }}</div>
                <div class="description">
                    <img src="{{ operation.iconUrl }}" alt="Icone" width="20%">
                    {{ operation.description }}
                </div>
                <button class="buttonOp">Prendre</button>
            </div>
        {% endfor %}
    </div>
{% endblock %}
