
{# registration/register.html.twig #}



{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>
    {{ form_start(registrationForm) }}
    {# Form rendering logic #}
    {{ form_row(registrationForm.name) }}
    {{ form_row(registrationForm.firstname) }}
    {{ form_row(registrationForm.email) }}
    {# Additional form fields can be added here #}
    {{ form_end(registrationForm) }}
{% endblock %}
