{# registration/register.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

    <h1>Register</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
    
    {# Afficher le champ de sélection des rôles #}

    {# Autres champs du formulaire #}
    {{ form_row(registrationForm.name) }}
    {{ form_row(registrationForm.firstname) }}
    {{ form_row(registrationForm.email) }}

    {{ form_end(registrationForm) }}
{% endblock %}

