{# registration/register.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
    
    {# Afficher le champ de sélection des rôles #}
    {{ form_label(registrationForm.roles) }}
    {{ form_widget(registrationForm.roles, { 'attr': {'class': 'form-control'} }) }}
    {{ form_errors(registrationForm.roles) }}

    {# Autres champs du formulaire #}
    {{ form_row(registrationForm.name) }}
    {{ form_row(registrationForm.firstname) }}
    {{ form_row(registrationForm.email) }}
    {{ form_row(registrationForm.plainPassword, {
        label: 'Password'
    }) }}
    {{ form_row(registrationForm.agreeTerms) }}

    <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}

