{% extends 'base.html.twig' %}

{% block body %}

{% include "base/nave.html.twig" %}


{% set titre = "Liste de vos taches en cours" %}
{% include 'base/blueBar.html.twig' %}


<div class="table-containerL">
    <table class="tableL">
        <thead>
            <tr>
                <th class="clientL">Client</th>
                <th class="typeOperationL">Type d'opération</th>
                <th class="statut">Statut</th>
            </tr>
        </thead>
        <tbody>
            {% for operation in operationsEnCours %}
            <tr>
                <td class="clientL">{{ operation.client.name }}</td> 
                <td class="typeOperationL">{{ operation.type.name }}</td> 
                <td class="statutL">{{ operation.statut }} 
                    <form action="{{ path('app_liste') }}" method="post">
                    <input type="hidden" name="operation_id" value="{{ operation.id }}">
                    <button type="submit" class="buttonTerminer">Terminer</button>
                    <input type="hidden" name="_turbo" value="false">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% set titre = "Liste de vos taches terminées" %}
{% include 'base/blueBar.html.twig' %}

<div class="table-containerL">
    <table class="tableL">
        <thead>
            <tr>
                <th class="clientL">Client</th>
                <th class="typeOperationL">Type d'opération</th>
                <th class="statutL">Statut</th>
            </tr>
        </thead>
        <tbody>
            {% for operation in operationsTerminees %}
            <tr>
                <td class="clientL">{{ operation.client.name }}</td>
                <td class="typeOperationL">{{ operation.type.name }}</td>
                <td class="statutL">{{ operation.statut }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
