{# templates/operation.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Opérations{% endblock %}

{% block body %}
{% include "base/nave.html.twig" %}
    <h1>Liste des Opérations</h1>

    {{ dump(operations) }}
    
        {{ dump() }}

    <table>
        <thead>
            <tr>
                <th>Description</th>
                <th>Statut</th>
                <th>Date de début</th>
                <th>Date de fin</th>
                <th>Date prévue</th>
                <th>Adresse</th>
                <th>Client</th>
                <th>Type</th>
                <th>Utilisateur</th>
            </tr>
        </thead>
        <tbody>
            {% for operation in operations %}
                {% if app.user == operation.user %}
                    <tr>
                        <td>{{ operation.description }}</td>
                        <td>{{ operation.statut }}</td>
                        <td>{{ operation.dateStart ? operation.dateStart|date('Y-m-d') : 'N/A' }}</td>
                        <td>{{ operation.dateEnd ? operation.dateEnd|date('Y-m-d') : 'N/A' }}</td>
                        <td>{{ operation.dateForecast|date('Y-m-d') }}</td>
                        <td>{{ operation.adresse.street }}, {{ operation.adresse.city }}</td>
                        <td>{{ operation.client.firstname }} {{ operation.client.name }}</td>
                        <td>{{ operation.type.name }}</td>
                        <td>{{ operation.user.firstname }} {{ operation.user.name }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
