{% extends 'base.html.twig' %}


{% block javascripts %}
			<script src="{{ asset('./../assets/operation.js') }}"></script>
            {% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}

{% block body %}
     
    {% include "base/nave.html.twig" %}

    <div class="contourOp">

{% for operation in operations %}
    <div class="custom-block">
        <div class="date">{{ operation.dateStart|date('d/m/Y') }}</div>
        <div class="status">{{ operation.statut }}</div>
        <div class="description">{{ operation.description }}</div>
        <form action="{{ path('app_operation_prendre', {'id': operation.id}) }}" method="post" class="operation-form">
            <button type="submit" class="prendre-button buttonOp">Prendre</button>
        </form>
    </div>
{% endfor %}

    </div>

{% endblock %}
