{% extends "base.html.twig" %}
{% block title %}Modification d'opération{% endblock %}

{% block javascripts %}
	<script src="{{ asset('./../assets/prixCustom.js') }}"></script>
	{% block importmap %}
		{{ importmap('app') }}
	{% endblock %}
{% endblock %}
{% block body %}

{% include "base/nave.html.twig" %}

{% set titre = "Description de l'opération" %}
{% include "base/blueBar.html.twig" %}

<div class="formClient">
    <a href="{{path('add_operation_list')}}" class="btnBack btn">Retour</a>
    {% if operation.namePhoto %}
        <img src="{{ asset('photoClient/' ~ operation.namePhoto)}}" alt="photo de l'opération n°{{operation.id}}" class="imgOperationDetails">
    {% endif %}
    {{form_start(form)}}
    <div class="champAdresse">
        <p >Adresse :</p>
        <p>{{operation.adresse.number ~ " " ~ operation.adresse.street ~ " " ~ operation.adresse.city ~ " " ~ operation.adresse.county }}</p>
    </div>
        {{form_row(form.type)}} 
		{{form_row(form.dateForecast,{'attr':{'value':operation.dateForecast|date('Y-m-d')}})}}
        {{form_row(form.description,{'attr':{'value':operation.description}})}}
        <div id="inputPrix" class="displayNone">
            {{form_row(form.prix , {'attr':{'placeholder':'Prix de l\'opération', }})}} 
        </div>    
        <div class="displayNone">
            {{form_row(form.photo , {'attr':{'disabled': true}})}} 
        </div>
    {{form_end(form)}}
</div>

{% endblock %}