{% extends "base.html.twig" %}

{% block title %}Modifier employé{% endblock %}


{% block body %}

    <pre>
        {{ dump(nom) }}
    </pre>

    {% set titre = 'Modifier '~user.name~' '~user.firstname %}
    {% include "base/blueBar.html.twig" %}

<div class="formClient">
<a href="{{path('admin.listePersonnel')}}" class="btnBack btn">Retour</a>
    {{form_start(form)}}
        {{form_row(form.name, { 'value': nom })}}
		{{form_row(form.firstname, {'attr':{'placeholder':user.firstname}})}}
        {{form_row(form.email)}}
        {# {{form_row(form.roles)}} #}
    {{form_end(form)}}
</div>

{% endblock %}